
/*colors
#F18e22 ≈ Carrot Orange
#F2d7c4 ≈ Albescent White
#Ab766b ≈ Coral Tree
#A79994 ≈ Zorba
#706464 ≈ Scorpion
#Ffc097 ≈ Peach Orange
*/



.App{
  font-family: 'Roboto';
  width: 80vw;
  height: 100vh;
  margin: auto;
}

.App-header {
  background-color: #F2d7c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/*---------------------Navigation---------------------*/
header nav {
  background-color: #A79994;
  display: flex;
  flex-direction: row;
}
header nav a {
  text-decoration: none;
  color: black ;
  padding: 0.4em 2em;
  border:  1px solid #706464;
  flex: 1 1 auto;

}
header nav a:hover {
  background-color: #706464;
}

header nav a.active {
  background-color: #Ab766b;
  border-bottom: none;
}



main {
  padding: 1em;
  background-color: #Ab766b;
  width: auto;
  height: auto;

}

footer {
  background-color: #F2d7c4;
  text-align: center;
  padding: 1em;
}
